* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(255, 4, 201);
}

.box {
  width: 800px;
  height: 600px;
  border: 1px solid white;
  background-color: #fff;
  margin: 100px auto;
  border-radius: 30px;
}

.main {
  text-align: right;
  padding-top: 100px;
  padding-right: 50px;
}

h1 {
  padding-right: 90px;
}

form {
  display: block;
}

input {
}
